In [5]:
%matplotlib inline
import pandas as pd
import numpy as np
import random as rnd
import seaborn as sns
import matplotlib.pyplot as plt

In [6]:
train_df2 = pd.read_csv('train.csv', header=None ,delimiter=";")

In [7]:
train_df2

,0,1,2,3,4,5,6,7,8,9,...,1591,1592,1593,1594,1595,1596,1597,1598,1599,1600
0,Jesus,ROJO,ROJO,1.208,Jesus,PANTALON,PANTALON,0.239,Jesus,ROJO,...,1.343559,Jesus,ROJO,wwwdlo,1.138845,Jesus,ROJO,NaN,1.864007,NaN

In [9]:
print(train_df2.columns.values)

[   0    1    2 ..., 1598 1599 1600]

In [22]:
train_df2.columns = ['usuario', 'palabra','palabraLeida', 'tiempoPalabra', 'a']

In [8]:
train_df2

,0,1,2,3,4,5,6,7,8,9,...,1591,1592,1593,1594,1595,1596,1597,1598,1599,1600
0,Jesus,ROJO,ROJO,1.208,Jesus,PANTALON,PANTALON,0.239,Jesus,ROJO,...,1.343559,Jesus,ROJO,wwwdlo,1.138845,Jesus,ROJO,NaN,1.864007,NaN

# Random Forest

In [ ]:
from sklearn.ensemble import RandomForestClassifier
random_forest = RandomForestClassifier(n_estimators=101)
random_forest.fit(X_train, Y_train)

Y_pred = random_forest.predict(X_test)

random_forest.score(X_train, Y_train)